.userList {
  flex: 4;
}
.userListUser {
  display: flex;
  align-items: center;
}
.userListUserAvatar {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.userListAction {
  display: flex;
  align-items: center;
}
.userListActionEdit {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: rgb(115, 194, 115);
  color: white;
  cursor: pointer;
  margin-right: 20px;
  cursor: pointer;
}
.userListActionDelete {
  color: red;
  cursor: pointer;
}
